# 忽略所有
*

# Git 配置
!.gitignore
# 更新日志
!CHANGELOG.md 
!README.md

# 只跟踪源代码模块
!modules/
!modules/**

# Go 模块
modules/SSHFleet_Go/vendor/
modules/SSHFleet_Go/vendor/**

# Python 模块
modules/SSHFleet_Py/__pycache__/
modules/SSHFleet_Py/**/__pycache__/
*.pyc
modules/SSHFleet_Py/historys/
modules/SSHFleet_Py/src/go/