# 忽略所有
*

# Git 配置
!.gitignore

# 只跟踪源代码模块
!modules/
!modules/**

# Go 模块
modules/SSHFleet_go/vendor/
modules/SSHFleet_go/vendor/**

# Python 模块
modules/SSHFleet_py/__pycache__/
modules/SSHFleet_py/**/__pycache__/
*.pyc
modules/SSHFleet_py/historys/
modules/SSHFleet_py/src/go/